*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main{
    width: 80%;
    margin: auto;
}
main h1{
    border: 2px outset grey;
    color: grey;
    border-radius: 2px;
    padding: 5px;
}
section{
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: space-around;
    margin: 0 auto;
   
}
article{
    text-align: justify;
    color: beige;
    margin: 5px;
    background-color: #9c9c9c;
    flex: 1 1 200px;
}
article:nth-last-of-type(1){
order: 3;
}
article:nth-last-of-type(2){
    order: 2;
}
article:nth-last-of-type(3){
    order: 5;
}
article:nth-last-of-type(4){
    flex-grow: 10;
    order: 1;
}
article:nth-last-of-type(5){
    order: 1;
}
article:nth-last-of-type(6){
    order: 6;
}
article header{
    background-color: red;
    text-align: center;
    border: black 2px outset;
    margin: 5px;
    padding: 5px;
}
@media all and (max-width:500px) {
    section {
        flex-flow:column wrap;
    }
}
.head-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
p{
    padding: 2px;
    margin: 2px;
}
.nav-flex{
    display: flex;
    justify-content: space-between;
    margin: 5px;
    background-color:lightblue;
    padding: 10px;
}
a{
    text-decoration: none;
}
#menu a {
    margin: 5px;
    color: red;
    border-left: black 1px solid;
    border-right:black 1px solid ;
    padding: 1px 10px 1px 10px;
}
#home a {
    background-color: red;
    color: white;
    padding: 4px;
    margin: 5px;
    border: 2px black outset;
}
#footer-flex{
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    border: 1px black solid;
    border-radius: 5px;
    padding: 5px;
}
#footer-flex a {
    color: red;
    background-color: antiquewhite;
}